{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parser": "hermes-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": ["ft-flow"],
  "extends": ["eslint:recommended", "plugin:ft-flow/recommended"],
  "rules": {
    "semi": [2, "always"],
    "curly": [2, "multi-line"]
  }
}
